.page-book {
    .page-body {
        padding: 0;
    }
}
.book-drawer-header {
    height: 100px;
    background-color: #2196f3;
}
.book-user-box {
    height: 100px;
    background-color: #2196f3;
}